/* Animations woohoo */

/* Rotation animation */
/* Solution found on StackOverflow: https://stackoverflow.com/questions/16771225/css3-rotate-animation#16771693 */
@keyframes rotation {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
}

@font-face {
    font-family: VCR OSD Mono;
    src: url("../fonts/VCR_OSD_MONO.ttf");
}

/* Body */
/* Solution for disabling text selection found on StackOverflow:
https://stackoverflow.com/questions/3779534/how-do-i-disable-text-selection-with-css-or-javascript */
body{
    background: #ffe09f;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
}

.gameFullContent{
    width: 100%;
    display: flex;
}

/* Left Container */
/* just a placeholder atm */
.leftContainer{
    width: calc(100% * 0.25);
}

.version{
    font-family: VCR OSD Mono, cursive;
}

.resetButton{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 9%;
    height: 4%;
    border: 3px solid black;
    font-size: 12pt;
    font-family: VCR OSD Mono, cursive;
    background: #ffb84c;
    color: white;
    cursor: pointer;
}

/* Main Container */
/* THE BITCOIN IMAGE */
.mainGameContent{
    width: calc(100% * 0.5);
}

/* Right Container */
/* All items which you can buy */
.rightContainer{
    width: calc(100% * 0.25);
    border: 4px solid white;
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.bitcoinAmountDisplay{
    text-align: center;
    font-family: VCR OSD Mono, cursive;
    font-size: 45pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    margin: 20px 0 0 0px;
}
.satoshiAmountDisplay {
    text-align: center;
    font-family: VCR OSD Mono, cursive;
    font-size: 15pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    padding: 0 !important;
    margin: 0 0 -15px 0px;
}
.bSecRate{
    text-align: center;
    font-family: VCR OSD Mono, cursive;
    font-size: 25pt;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black
}

/* BITCOIN */
.bitcoin{
    width: 25%;
    display: block;
    position: absolute;
    left: 30%;
    right: 30%;
    margin: 0 auto;
    top: 25%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    animation: rotation 20s linear infinite;
    border-radius: 500px;
}
.bitcoin:hover{
    width: 27%;
    top: 23%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    cursor:pointer;
}
.bitcoin:active{
    width: 23%;
    top: 27%;
    transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
}

/* Item list */
.purchaseList{
    list-style-type: none;
    font-family: "VCR OSD Mono", cursive;
    margin: 0;
    padding: 0;
}

/* Optimization for smaller screens */

@media screen and (max-width: 767px) {
    /* BITCOIN */
    .bitcoin{
        width: 35%;
        display: block;
        position: absolute;
        left: 30%;
        right: 30%;
        margin: 0 auto;
        top: 35%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
        animation: rotation 20s linear infinite;
        border-radius: 500px;
    }
    .bitcoin:hover{
        width: 37%;
        top: 33%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
        cursor: pointer;
    }
    .bitcoin:active{
        width: 33%;
        top: 37%;
        transition: width 0.2s ease-in-out, top 0.2s ease-in-out;
    }
}

/* Item list item */
.purchaseItem{
    width: 99%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    padding-left: 10px;
    background: linear-gradient(#ffe09f, #ffb84c);
}
.purchaseItem:hover{
    background: linear-gradient(90deg, #ffe09f, #ffb84c);
    cursor: pointer;
}
.amountOfItem{
    float: right;
    font-size: 66pt;
    margin-right: 15px;
    color: rgba(0,0,0,.4);
    margin-top: -10px;
    margin-bottom: -50px;
}
.itemHeadline{
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
}
